body{
  position: relative;
  height: 100%;
}
/*header..... */
header{
position: relative;
display: flex;
justify-content: space-between;
padding:1rem;
background-color: #f5f5f5;
margin-bottom: 1rem;
height: 80px;
left: 0px;
top: 0px;
border-radius: 0px;

}
ul{
  display: flex;
  color: black;
}
li{
  list-style-type: none;
  padding: 1rem;
}
li:hover{
  color: #02a38e;
}
.tab-link{
  border: none;
 background-color: rgba(231, 230, 230, 0);
}

.active{
  border-bottom: 1px solid #016b2d;
}
a{
  text-decoration: none;
  color: aliceblue;
}
.logo{
  cursor: pointer;
  
}
.logo-s{
  font-size: 2rem;
  color: #890F0D;
}
.nav{
  display: flex;
  color: black;
}
.cart{
  position: relative;
}
.cart-logo{
  margin: 0 1rem;
  cursor: pointer;
}
.cart-logo{
  
  height: 50px;
}
.cart-item-number{
  position: absolute;
  display: flex;
  border-radius: 50%;
  width: 25px;
  right: 20px;
  bottom: 60px;
  justify-content: center;
  background-color: #131212;
  color: #ffffff;
}
.cart-overlay-container{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 6rem;
  background-color: rgba(10, 10, 10, 0.8);
  z-index: 3;
  display: none;  
}
.cart-overlay{
  position: absolute;
  width: 50%;
  right: 0;
  background-color: #ffffff;
  z-index: 10;   
}
.cart:hover{
  transform: scale(1.2);
}
select{
  border: 0;
  background-color: #f5f5f5;
}


/* main */
.container{
  position: relative;
  height: 100%;
  padding-bottom: 5rem;
}
.all-products{
  display: flex;
  flex-wrap: wrap;
  
}

.product-card{
  position: relative;
  padding: 0 2rem;
  /* font-weight: bold; */
  border-radius: 5px;
  box-shadow: 2px 1px 10px #b1b0b0;
  margin: 1rem;
  padding: 1rem;
 
}
.hidden-attributes{
  position: absolute;
  top:13rem;
  left:1rem;
  background-color: #fcfcfc;
  z-index: 1;
  border-radius: 5px;
  border: 1px solid #fcb3b3;
  padding: 1rem;
  transition: all 0.5s;
  display: none;
}
.close-attribute{
  position: absolute;
  color: #890F0D;
  right: 5px;
  top: 0;
  cursor: pointer;
}
.out_of_stock{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: none; */
  z-index: 1;
  background-color: rgba(231, 230, 230, 0.7);
  height: 100%;
  width: 100%; 
}
.image{
  height: 15rem;
  width: 15rem;
}
.add-to-cart-button{
  position: absolute;
  border-radius: 50%;
  left: 13rem;
  top: 15rem;
  background-color: #51ff9a;
  padding: .5rem;
  cursor: pointer;
}
.add-to-cart-button img{
  width: 2rem;
  height: 2rem;
}
.category-search{
  border-radius: 5px;
  height: 2rem;
  margin-left: 2rem;

}

/* product page*/
.product-container{
  display: flex;
  height: 100%;
  padding-left: 7rem;
}
.product{
  padding-left: 2rem;
}
.product-details-image{
  height: 35rem;
  width: 30rem;
}
.product-thumbnails .product-details-image{
  height: 7rem;
  width: 8rem;
}
.product-details{
  padding-left: 6rem;
  max-width: 22rem;
}

.product-details button{
  width: 100%;
  height: 3rem;
  background-color: #51ff9a;
  border: 0;
  cursor: pointer;
  
}
.product-details button:hover{
  background-color:#016b2d ;
}
.description{
 width: 100%;
 overflow: hidden; 
}
.attributes{
  max-width: 15rem;
  font-size: 1rem;
}
.attribute{
  display: flex;
}
.attribute-name{
  margin-right: .2rem;
  padding: .2rem 0;
  min-width: 1rem;
  /* min-height: 1rem; */
}
.text-item{
  box-shadow: 1px 1px 5px rgb(224, 224, 224);
  border-radius: 5px;
  margin: .2rem;
  padding: 0 .4rem;
  min-width: 1rem;
  min-height: 1rem; 
  cursor: pointer;
}


.color-item{
  width: 1rem;
  height: 1rem;
  border: 1px solid rgb(185, 183, 183);
  margin: 4px 1.5px 0  1.5px ;
  cursor: pointer;
}

/* footer */
footer{
  display: flex;
  justify-content: space-around;
  background-color: #0E185F;
  color: aliceblue;
  margin-top: 1rem;
}
footer div{
  padding: 2rem;
}

/* cart page */
.cart-page{
  margin-left: 2rem;
  margin-bottom: 2rem;

}
.cart-container{
  padding: 1rem;
}
.cart-list{
 height: 100%; 
}
.add-to-cart{
  background-color: #FFD365;
  padding: 0 2rem;
  margin: 0 2rem;
  border-radius: 5px;
  border: 0 solid;
  font-size: 1.2rem;
  cursor: pointer;
}

.cart-item{
  display: flex;
  justify-content: space-between;
  border-top: solid 1px rgb(180, 180, 180);
  height: 200px;
  
}

.product-image-div{
  margin-left: .5rem;
  width: 200px;
 
}
.slides-container{
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.slide{
  position:absolute;
  transition: all 0.5s;
}
.slide img{
  width: 100%;
  height: 180px;
  padding: 0 1rem;
}
.btn{
  position: absolute;
  height:30px;
  width: 30px;
  padding: 10px;
  cursor: pointer;
  border: none;
  z-index: 10;
  font-weight: bold;
  background-color: #050505;
  color: #f5f5f5;
  opacity: .6;
}
.btn:active{
  transform: scale(1.1);
}
.btn:hover{
  opacity: 1;
}
.btn-prev{
  top: 80%;
  right: 3rem;
}
.btn-next{
  top: 80%;
  right: .1rem;
}
.product-qty{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-image-qty{
  display: flex;
  padding: .3rem;
}
.remove-btn div{
  border: 1px solid #FD5D5D;
  border-radius: 5px;
  margin: 0 1rem;
  padding: .4rem;
  cursor: pointer;
  
}
.details{
  padding: 1rem;
}
.details div{
  margin-top: .5rem;
}
.details-sizes{
  display: flex;
}
.details-sizes div{
  border: 1px solid black;
  padding: 1rem;
  
}
.details-sizes :nth-child(2){
  margin-left: 1rem;
}
.details-sizes div:hover{
  background-color: black;
  color: white;
}
.cart-check-out{
  margin-left: 1rem;
  margin-top: 2rem;
}
.cart-total-row-value{
  font-weight: bold;
}
.cart-check-out div{
  margin: .5rem 0;
}
.order-btn{
  background-color: #5bcc8a;
  border: none;
  padding: 0.6rem 5rem;
  color: #f5f5f5;
}
.overly-checkout{
  margin: 0.1rem;
}

.view-bag{
  border: 1px solid black;
  margin: 0.3rem;
  background-color:#fffafa;
  padding: 0.5rem 2rem;
  
}
.overlay-order-btn{
  background-color: #5bcc8a;
  border: none;
  padding: 0.6rem 2rem;
  color: #f5f5f5;
}

